{% extends 'common/app.twig' %}


    {% block content %}
        <div class="col-md-12">
            {% include 'common/partials/top_statistics_blocks.twig' %}

            
            <h1 class="test">Home page content...</h1>
        </div>
    {% endblock %}    
