{% extends 'common/app.twig' %}

{% block content %}
  <div class="row">
        <div class="col-md-6 col-sm-12 col-offset-3">
                <h2 class="page-header">Import Plans</h2>                 
                <form action="{{ path_for('importPlanPost') }}" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="import_plans_csv">Upload Plans</label>
                    <input type="file" class="form-control" id="import_plans" name="import_plans" aria-describedby="emailHelp" placeholder="Upload Plans">
                    <small id="fileHelp" class="form-text text-muted">Upload CSV/XLSx file to update plans</small>
                  </div>

                  <div class="form-group">
                    <label for="import_plans_csv">&nbsp;</label>
                    <button type="submit" name="btn_submit" class="btn btn-primary">Submit</button>  
                  </div>
                </form>  
        </div>
  </div>
{% endblock %}